#other-homes-root {

    min-height: 100dvh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

/* Search area */
#find-search-area {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 107px 0px 0px 0px;
    height: max-content;
    row-gap: 10px;

    #home-search {

        display: flex;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        background: white;
        padding: 10px 8px 10px 15px;
        width: 50%;
        border-radius: 5px;
        column-gap: 5px;

        input {

            width: 100%;
            outline: none;
            border: 0;

        }

        .bx-search {
            color: #016BF8;
        }

        .bx-x {
            color: red;
            cursor: pointer;
            transition: 0.2s ease-in-out;
        }

        .bx-x:hover {

            background-color: rgba(255, 0, 0, 0.13);
            border-radius: 2px;

        }

    }

    #home-search-label {

        width: 50%;
        text-align: center;
        font-size: 12.5px;
        line-height: 1.3;

        span {
            color: red;
        }

        opacity: 0.7;

    }

}

#listing-other-homes {

    padding: 0px 0px 50px 0px;
    height: fit-content;
    display: flex;
    justify-content: center;

    section {

        width: 83%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 9px 10px;
        /* justify-content: center; */


    }

    .other-homes {

        /* flex-grow: 1; */
        row-gap: 10px;
        display: grid;
        padding: 15px 17px 13px 17px;
        height: fit-content;
        background: white;
        box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15);
        width: 254px;
        height: fit-content;
        border-radius: 10px;
        margin: 0px 0px 0px 0px;

        p {
            width: fit-content;
            line-height: 1;
            color: gray;
        }

        div {
            display: flex;
            align-items: baseline;
            height: fit-content;
        }

        img {

            width: 30px;
            height: 30px;
            border-radius: 50%;

        }

        .other-home-admin {

            align-items: center;
            column-gap: 8px;

            #oth-hm-ad-name {

                display: grid;
                row-gap: 2px;

                div {

                    column-gap: 5px;

                    & p:nth-child(1) {
                        font-size: 0.8rem;
                        color: black;
                    }

                    & p:nth-child(2) {
                        font-size: 0.68rem;
                        color: red;
                    }

                }

                #email {
                    font-size: 0.7rem;
                    color: #00B818;
                }

            }

        }

        .other-home-names {

            column-gap: 8px;

            & p:nth-child(1) {
                color: rgba(3, 34, 33, 0.8);
            }

            & p:nth-child(2) {
                font-size: 0.85rem;
            }

        }

        .other-home-address {

            font-size: 0.75rem;
            column-gap: 10px;
            margin: -6px 0px 0px 0px;

            span {
                color: red;
                font-size: 0.7rem;
            }

            i {
                color: rgba(3, 34, 33, 0.8);
                font-size: 0.9rem;
            }

            div {
                column-gap: 4px;
            }

        }

        button {

            /* width: 100%; */
            border: 0px;
            background-color: #0D2F2B;
            color: white;
            font-size: 0.8rem;
            height: 33px;
            border-radius: 5px;

        }

    }

}

/* Responsive Design */
@media (max-width: 1024px) {

    #find-search-area #home-search,
    #find-search-area #home-search-label {
        width: 65%;
    }

    #listing-other-homes section {
        width: 90%;
        justify-content: center;
        gap: 15px;
    }

    #listing-other-homes .other-homes {
        width: calc(43% - 8px);
        padding: 15px 15px 58px 15px;
        position: relative;
    }

    #listing-other-homes .other-homes .other-home-address>div:first-child {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #listing-other-homes .other-homes .other-home-address>p {
        position: absolute;
        bottom: 22px;
        left: 15px;
    }

    #listing-other-homes .other-homes .other-home-admin {
        margin-top: -10px;
    }

    #listing-other-homes .other-homes button {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: calc(100% - 155px);
        padding: 0;
    }
}

@media (max-width: 768px) {
    #find-search-area {
        padding-top: 80px;
    }

    #find-search-area #home-search,
    #find-search-area #home-search-label {
        width: 75%;
    }

    #listing-other-homes section {
        width: 95%;
    }

    #listing-other-homes {
        & .other-homes {
            .other-home-names {
                column-gap: 3px;
            }
        }
    }
}

@media (max-width: 650px) {
    #find-search-area {
        padding-top: 60px;
    }

    #find-search-area #home-search,
    #find-search-area #home-search-label {
        width: 90%;
    }

    #listing-other-homes .other-homes {
        width: 92%;
    }
}