#login-root {

    height: 100dvh;
    display: flex;
    column-gap: 100px;

}

/* Left section with text labels */
#login-left {

    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;

    section {

        p { text-align: center; }
        & p:nth-child(1) {

            font-family: 'VintageMohai', sans-serif;
            font-size: 3rem;
            color: rgba(3, 34, 33, 0.8);

        }
        & p:nth-child(2) {

            font-size: 0.9rem;
            margin: -10px 0px 0px 0px;
            span { color: #016BF8; cursor: pointer; }

        }

    }

}

/* Right section with form */
#login-right {

    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;

    form {

        display: grid;
        div:not( :last-child ) { row-gap: 9px; }

        #input-fields {

            display: grid;
            row-gap: 8px;

            div {

                width: 20.5rem;
                padding: 8px 0px;
                background-color: white;
                border-radius: 6px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {

                    width: 100%;
                    height: 100%;
                    outline: none;
                    border: 0;
                    padding: 0px 0px 0px 13px;
                    border-radius: 6px;
                    color: rgba(0, 0, 0, 0.70);

                }

                svg { color: gray; cursor: pointer; }

            }

            .password-input { padding-right: 10px; }

        }

        #form-buttons {

            display: grid;
            row-gap: 8px;

            button {

                display: flex;
                column-gap: 3px;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px 0px;
                border: 0;
                border-radius: 6px;
                color: white;
                background-color: #0D2F2B;

                span { display: flex; align-items: center; }

            }

        }

        #login-forgot-password {

            color: red;
            cursor: pointer;
            font-size: 0.75rem;
            text-align: end;
            margin: 2.5px 0px 9px 0px;

        }

    }

}

/* RESPONSIVE */
@media ( max-width : 1024px ) {

    #login-root { 
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    
    }
    #login-left {

        width: unset;
        #main-label { font-size: 2.7rem };

    }
    #login-right {

        width: unset;
        #login-mobile-lable {

            text-align: center;
            font-size: 0.9rem;
            margin: 3px 0px 0px 0px;

            span { color: #016BF8; cursor: pointer; }

        }

    }

}