#profile-root {

    height: 100dvh;
    display: grid;
    place-items: center;

}

#user-data-display {

    height: fit-content;
    width: 40%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin: 70px 0px 0px 0px;
    border-radius: 18px;
    padding: 10px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 11px;

    #photo-and-name {

        & :nth-child(1) {

            display: flex;
            justify-content: end;

            p {

                color: #016BF8;
                position: relative;
                right: 1.3%;
                top: 5px;
                cursor: pointer;

            }

        }

        & :nth-child(2) {

            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.15;

            #outer-green-circle,
            #inner-white-circle {

                width: 148px;
                height: 148px;
                border-radius: 50%;
                background-color: rgba(3, 34, 33, 0.8);
                place-items: center;
                justify-content: center;

            }

            #inner-white-circle {

                width: 138px;
                height: 138px;
                background-color: white;

            }

            #edit-image {

                display: grid;
                place-items: center;
                justify-content: center;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.30);
                height: 30px;
                width: 30px;
                background: white;
                border-radius: 50%;
                position: relative;
                bottom: 27px;
                left: 55px;

                svg {

                    height: 18px;
                    cursor: pointer;
                    color: gray;

                }

            }

            #user-names {

                display: flex;
                flex-direction: column;
                align-items: center;

                #username {
                    color: gray;
                }

                #fullname {
                    font-size: 1.2rem;
                }

                #usermail {
                    font-size: 0.95rem;
                    color: #016BF8;
                }

            }

            i {

                font-size: 155px;
                color: lightgray;

            }

        }

    }

    #member-and-joined {

        display: flex;
        justify-content: center;
        column-gap: 6px;

        section {

            border-radius: 8px;

            p {
                font-size: 0.8rem;
                color: white;
            }

        }

        #member {
            padding: 13px 35px;
            background-color: #0D2F2B;
        }

        #joined {
            padding: 13px 15px;
            background-color: red;
        }

    }

    #input-section {

        width: 90%;
        margin: 8px auto 0px auto;
        display: grid;
        row-gap: 10px;

        div {

            display: flex;
            justify-content: space-between;
            align-items: center;

            input {

                width: 78%;
                outline: none;
                border: solid 1px lightgray;
                padding: 10px 0px 10px 13px;
                border-radius: 6px;
                color: gray;

            }

        }

        #profile-phone-number-input {

            display: flex;
            column-gap: 5px;
            padding: 10px 0px 10px 13px;
            border-radius: 6px;
            border: solid 1px lightgray;
            width: 78%;

            div {

                display: flex;
                column-gap: 3px;

                p {

                    color: gray;
                    font-size: 0.85rem;

                }

                img {

                    border-radius: 0;
                    height: 15px;
                    width: 15px;
                    object-fit: contain;

                }

            }

            input {

                border: none;
                padding: 0;

            }

        }

    }

    #save-button {

        display: grid;
        place-items: center;
        margin: 5px 0px -10px 0px;

        button {

            padding: 10px 25px;
            background-color: #016BF8;
            color: white;
            border-radius: 6px;
            border: 0;
            font-size: 0.95rem;

        }

    }

    img {

        border-radius: 50%;
        width: 130px;
        height: 130px;
        object-fit: cover;

    }

}

@media (max-width : 767px) {

    #profile-root {

        display: block;
        height: 78dvh;

    }

    #user-data-display {

        width: unset;
        box-shadow: unset;
        margin: 30px 0px 0px 0px;

        #photo-and-name {

            & :nth-child(2) {

                flex-direction: row;

                #user-names {

                    position: relative;
                    left: 6%;
                    align-items: start;

                }

                #inner-white-circle {

                    width: 108px;
                    height: 108px;

                }

                #outer-green-circle {

                    width: 116px;
                    height: 116px;

                }

                #edit-image {

                    left: unset;
                    bottom: unset;
                    top: 70px;
                    right: 50px;
                    
                }

            }

        }

        img {

            height: 100px;
            width: 100px;

        }

        #edit-button button {

            width: 100%;
            padding: 6px 0px;
            background-color: #016BF8;
            color: white;
            border: 0;
            border-radius: 5px;

        }

        #input-section {

            div { 
                
                display: block;
                input { width: 100%; } 
            
            }

            #profile-phone-number-input { width: 100%; }

        }

    }

}

@media ( min-width : 768px ) and ( max-width : 1024px ) {

    #user-data-display { width: 60%; }

}